div:hover {
    border: 2px solid red;
}

div:nth-of-type(1) {
    background-color: aqua;
    color: coral;
}

div:nth-of-type(2) {
    background-color: blue;
    font-variant: small-caps;
}

div:nth-of-type(3) {
    background-color: aquamarine;
    text-align: center;
    height: 100px;
    padding-top: 0.1%;
}

div:nth-of-type(4) {
    background-color: blueviolet;
    color: white;
}

div:nth-of-type(5) {
    background-color: pink;
    text-decoration: line-through;
}

div:nth-of-type(2n+1) {
    font-style: italic;
}